<%= form_with(model: site, local: true) do |form| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="card mx-auto mt-3">
      <h5 class="card-header">New Site</h5>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-6">
            <%= form.label :name, class: "text-dark" %>
            <%= form.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group col-6">
            <%= form.label :domain, class: "text-dark" %>
            <%= form.text_field :domain, class: "form-control" %>
          </div>

          <% if @site && @site.new_record? %>
            <div class="form-group col-6">
              <%= form.label :initialize_with, class: "text-dark" %>
              <%= form.select(
                :initialize_with,
                ['Bootstrap-4.0', 'Bootstrap-5.0', 'Material-ui-bootstrap'],
                { include_blank: true },
                { class: "form-control" })
              %>
            </div>
          <% end %>

          <div class="form-group col-6">
            <%= form.label :google_analytics_key, class: "text-dark" %>
            <%= form.text_field :google_analytics_key, class: "form-control" %>
          </div>

          <!--<div class="form-group col-12">
            <%= form.label :meta, class: "text-dark" %>
            <%= form.text_area :meta, class: "form-control d-none" %>
            <div id="site_meta_holder"></div>
          </div> -->

          <div class="form-group col-12">
            <%= form.label :description, class: "text-dark" %>
            <%= form.text_area :description, class: "form-control" %>
          </div>

        </div>
      </div>
      <div class="card-footer">
        <%= link_to "Back", sites_path, class: "btn btn-secondary" %>
        <%= form.submit "Submit", class: 'btn btn-dark float-right' %>
      </div>
    </div>
  </div>


  <div class="form-group">
    
  </div>
<% end %>
