<% site_name = @data[:site_name] %>
<% pages = @data[:pages] %>
<% assets = @data[:assets] %>
<% layouts = @data[:layouts] %>

<div class="cms-editor-grid" id="cms-editor-grid">
  <p id="current-site-id" class="d-none"><%= @site.id %></p>
  <div class="row">
    <div class="col-3" id="explorer">
      <ul id="tree">
        <li><a href="#" id="site_name"><%= site_name %></a>
          <ul>
            <li><a href="#">Assets</a>
              <ul>
                <li><a href="#" data-toggle= "modal" data-target= "#AssetFormModal">Bulk Upload Assets</a></li>
                <li><a href="#">Javascripts</a>
                  <ul id="js-ul">
                    <li><%= link_to("New Javascript", new_layout_path, id: "new-js") %></li>
                    <% assets.select { |a| a.kind == "js" } .each do |asset| %>
                      <li class="edit-asset" id="<%= asset.id %>" data-kind="assets" data-toggle= "modal" data-target= "#AssetEditModal">
                        <i class="fab fa-js orange-icon"> </i>
                        <%= link_to asset.name, asset_path(asset), remote: true %>
                      </li>
                    <% end %>
                  </ul>
                </li>

                <li><a href="#">Stylesheets</a>
                  <ul id="css-ul">
                    <li><%= link_to("New CSS", new_layout_path, id: "new-css") %></li>
                    <% assets.select { |a| a.kind == "css" } .each do |asset| %>
                      <li class="edit-asset" id="<%= asset.id %>" data-kind="assets" data-toggle= "modal" data-target= "#AssetEditModal">
                        <i class="fab fa-css3 pink-icon"> </i>
                        <%= link_to asset.name, asset_path(asset), remote: true %>
                      </li>
                    <% end %>
                  </ul>
                </li>

                <li><a href="#">Images</a>
                  <ul>
                    <% assets.select { |a| a.kind == "image" } .each do |asset| %>
                      <li class="edit-asset" id="<%= asset.id %>" data-kind="assets" data-toggle= "modal" data-target= "#AssetEditModal">
                        <i class="fab fa-js pink-icon"> </i>
                        <%= link_to asset.name, asset_path(asset), remote: true %>
                      </li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </li>

            <li><a href="#">Layouts</a>
              <ul id="layouts-ul">
                <li><%= link_to("New Layout", new_layout_path, id: "new-layout") %></li>
                <% layouts.each do |layout| %>
                  <li class="edit-asset" id="<%= layout.id %>" data-kind="layouts" data-toggle= "modal" data-target= "#AssetEditModal">
                    <i class="fab fa-html5 white-icon"> </i>
                    <%= link_to layout.name.gsub('<br>', ''), layout_path(layout), remote: true %>
                  </li>
                <% end %>
              </ul>
            </li>

            <li><a href="#">Pages</a>
              <ul id="pages-ul">
                <li><%= link_to("New Page", new_page_path, id: "new-page") %></li>
                <% pages.each do |page| %>
                  <li class="edit-asset" id="<%= page.id %>" data-kind="pages" data-toggle= "modal" data-target= "#AssetEditModal">
                    <i class="fab fa-html5 white-icon"> </i>
                    <%= link_to page.name.gsub('<br>', ''), page_path(page), remote: true %>
                  </li>
                <% end %>
              </ul>
            </li>

            <li><a href="#">Blogs</a>
              <ul id="blogs-ul">
                <li><%= link_to("New Blog", new_page_path, id: "new-page") %></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-9" id="preview_content">
      <div id="editor_tabs">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="AssetFormModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Upload Assets</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= form_with(url: :site_add_assets, local: true, remote: true, id: "asset-upload") do |form| %>
          <%= form.hidden_field :site_id, value: @site.id %>
          <%= form.label :assets %>
          <%= form.file_field :assets, multiple: true, name: "assets[attachment]" %>
          </div>
          <div class="modal-body" id="asset-progress">
          </div>
        <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="AssetEditModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="asset-name"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body" id="edit-modal-body">
      </div>
    </div>
  </div>
</div>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
