<% site_name = @data[:site_name] %>
<% pages = @data[:pages] %>
<% assets = @data[:assets] %>
<% layouts = @data[:layouts] %>

<div class="cms-editor-grid" id="cms-editor-grid">
  <p id="current-site-id" class="d-none"><%= @site.id %></p>
  <div class="row">
    <div class="col-3" id="explorer">
      <ul id="tree">
        <li><a href="#" id="site_name"><%= site_name %></a>
          <ul>
            <li><a href="#">Assets</a>
              <ul>
                <li><a href="#" data-toggle= "modal" data-target= "#AssetFormModal">Add Assets</a></li>
                <% assets.each do |asset| %>
                  <li class="edit-asset" id="<%= asset.id %>">
                    <span>
                      <% if asset.name.include?(".js") %>
                        <i class="fab fa-js orange-icon"> </i>
                        <%= asset.name %>
                      <% elsif asset.name.include?(".css") %>
                        <i class="fab fa-css3 pink-icon"> </i>
                        <%= asset.name %>
                      <% end %>
                    </span>
                  </li>
                <% end %>
              </ul>
            </li>

            <li><a href="#">Layouts</a>
              <ul id="layouts-ul">
                <li><%= link_to("New Layout", new_layout_path, id: "new-layout") %></li>
                <% layouts.each do |layout| %>
                  <li class="edit-file" id="<%= layout.id %>" data-kind="layouts"><%= layout.name %></li>
                <% end %>
              </ul>
            </li>

            <li><a href="#">Pages</a>
              <ul id="pages-ul">
                <li><%= link_to("New Page", new_page_path, id: "new-page") %></li>
                <% pages.each do |page| %>
                  <li class="edit-file" id="<%= page.id %>" data-kind="pages"><%= page.name %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-9" id="preview_content">
      <div id="editor_tabs">
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="AssetFormModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Upload Assets</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= form_with(url: :site_add_assets, local: true, remote: true, id: "asset-upload") do |form| %>
          <%= form.hidden_field :site_id, value: @site.id %>
          <%= form.label :assets %>
          <%= form.file_field :assets, multiple: true, name: "assets[attachment]" %>
          </div>
          <!-- Modal footer -->
          <div class="modal-body" id="asset-progress">
          </div>
        <% end %>
    </div>
  </div>
</div>
<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
