<% site_name = @data[:site_name] %>
<% pages = @data[:pages] %>
<% assets = @data[:assets] %>
<% layouts = @data[:layouts] %>

<div class="cms-editor-grid" id="cms-editor-grid">
  <p id="current-site-id" class="d-none"><%= @site.id %></p>
  <div class="row">
    <div class="col-2" id="explorer">
      <ul id="tree">
        <li><a href="#" id="site_name"><%= site_name %></a>
          <ul>
            <li><a href="#">Assets</a>
              <ul>
                <li><%= link_to("New Asset", new_asset_path, id: "new-asset") %></li>
                <% assets.each do |asset| %>
                  <li><%= asset.name %></li>
                <% end %>
              </ul>
            </li>

            <li><a href="#">Layouts</a>
              <ul id="layouts-ul">
                <li><%= link_to("New Layout", new_layout_path, id: "new-layout") %></li>
                <% layouts.each do |layout| %>
                  <li class="edit-file" id="<%= layout.id %>" data-kind="layouts"><%= layout.name %></li>
                <% end %>
              </ul>
            </li>

            <li><a href="#">Pages</a>
              <ul id="pages-ul">
                <li><%= link_to("New Page", new_page_path, id: "new-page") %></li>
                <% pages.each do |page| %>
                  <li class="edit-file" id="<%= page.id %>" data-kind="pages"><%= page.name %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-10" id="preview_content">
      <div id="editor_tabs">
      </div>
    </div>
  </div>
</div>
