<div class="col-12 mt-4 p-5 mb-3 text-white">    
    <h3 class="float-left">Sites</h3>
    <%= link_to 'New Site', new_site_path, class: "float-right btn btn-outline-light" %>    
</div>



<div class="card-columns">
  <% @sites.each do |site| %>
    <div class="card border-0 bg-secondary text-white">
      <%# <img class="card-img-top img-fluid" src="https://place-hold.it/250x100" alt="Card image cap"> %>
      <div class="card-body">
        <h5 class="card-title"><%= site.name %></h5>
        <p class="card-text"><%= site.description %></p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-secondary text-white border-dark">
            <b>Domain:</b>
            <%= site.domain %>
          </li>
          <li class="list-group-item bg-secondary text-white border-dark">
            <b>Google analytics key:</b>
            <%= site.google_analytics_key %>
          </li>
          <li class="list-group-item bg-secondary text-white border-dark">
            <b>Meta Tags:</b>
            <%= site.meta %>
          </li>
        </ul>
        <div class="border"></div>
        <div class="card-body float-right">
          <%= link_to 'Messages', site_messages_path(site), class: "card-link text-white font-weight-bold" %>
          <%= link_to 'Show', site, class: "card-link text-white font-weight-bold" %>
          <%= link_to 'Editor', site_edit_cms_path(site), class: "card-link text-white font-weight-bold", "data-turbolinks": false  %>
          <%= link_to 'Edit', edit_site_path(site), class: "card-link text-white font-weight-bold" %>
          <%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link text-white font-weight-bold" %>
        </div>
      </div>
    </div>    
  <% end %>
</div>