<button class="clipboard-btn btn btn-small" data-clipboard-text="<%= asset.attachment.url %>">
  <i class="fas fa-copy"></i>
  <small>(Copy)</small>
</button>
<%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger float-right" %>
<li class="edit-file" id="<%= asset.id %>" data-kind="assets"><%= asset.name.gsub('<br>', '') %></li>
<hr />

<%= form_with(model: asset, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :priority %>
    <%= form.text_field :priority, value: asset.priority %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
