<div class="row">
  <div class="btn-group btn-group-sm w-auto ml-auto mr-3" role="group" aria-label="Basic example">
    <button class='edit-file btn btn-outline-dark' id="<%=page.id %>", data-kind="pages">
      <i class="fas fa-edit"></i>
      Edit Content
    </button>

  </div>
</div>

<%= form_with(model: page, remote: true, format: :json, id: "page-update") do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-row">
    <div class="form-group col-6">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group col-6">
      <%= form.label :path %>
      <%= form.text_field :path, class: "form-control" %>
    </div>

    <div class="form-group col-6">
      <%= form.label :site_id %>
      <%= form.text_field :site_id, class: "form-control" %>
    </div>
    <div class="form-group col-6">
      <%= form.label :layout_id %>
      <%= form.text_field :layout_id, class: "form-control" %>
    </div>
  </div>

  <div class="modal-footer p-2">
    <%= form.submit class: 'btn btn-dark float-right' %>
  </div>
<% end %>
