<button class='edit-file btn btn-small' id="<%=page.id %>", data-kind="pages">
  <i class="fas fa-edit"></i>
  <small>(Edit Content)</small>
</button>

<%= form_with(model: page, remote: true, format: :json, id: "page-update") do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :path %>
    <%= form.text_field :path %>
  </div>

  <div class="field">
    <%= form.label :site_id %>
    <%= form.text_field :site_id %>
  </div>

  <div class="field">
    <%= form.label :layout_id %>
    <%= form.text_field :layout_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
