<!DOCTYPE html>
<html>
  <head>
    <title>Sockem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <a class="navbar-brand" href="#">ExCms</a>
    </nav>
    <div class="container-fluid" id="app">
      <%= yield %>
    </div>
  </body>
</html>
