<!DOCTYPE html>
<html>
  <head>
    <title>Sockem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark">
    <% if admin_signed_in? %>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand d-flex pl-3" href="/cms/sites" data-turbolinks=false>
          <%= image_tag('cms_logo.png', class: 'img-fluid mx-auto d-block',style: "height:30px;")%>          
          <h6 class="pt-1 pl-2">CMS</h6>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <%= link_to('Logout', destroy_admin_session_path, method: :delete) %>
            </li>          
          </ul>        
        </div>
      </nav>
    <% end %>    
    <div class="container-fluid" id="app">      
      <%= yield %>
    </div>
  </body>
</html>
